## FOOTBALL DATA ANALYSIS

### Import the libraries

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')

### Read the files

In [2]:
players = pd.read_excel("players.xlsx")
players

,player_id,name,last_season,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,124732,John Anthony Brooks,2023,533,john-anthony-brooks,Germany,1993-01-28,Centre-Back,Defender,left,194.0,2000000.0,15000000.0,2024-06-30,ROGON
1,223047,Emerson Hyndman,2018,903,emerson-hyndman,United States,1996-04-09,Central Midfield,Midfield,right,170.0,800000.0,1800000.0,NaT,OmniSports
2,307781,Lynden Gooch,2016,289,lynden-gooch,United States,1995-12-24,Right Winger,Attack,right,173.0,1000000.0,1000000.0,2024-06-30,Unique Sports Group
3,370846,Timothy Weah,2023,506,timothy-weah,United States,2000-02-22,Right Midfield,Midfield,right,183.0,14000000.0,15000000.0,2028-06-30,BS Group - BS Law
4,484756,Djordje Mihailovic,2023,1090,djordje-mihailovic,United States,1998-11-10,Attacking Midfield,Midfield,NaN,178.0,5000000.0,6000000.0,2026-06-30,YMU Management Ltd.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,273570,Desevio Payne,2020,1283,desevio-payne,United States,1995-11-30,Right-Back,Defender,right,182.0,NaN,400000.0,NaT,NaN
148,111783,Alejandro Bedoya,2015,995,alejandro-bedoya,United States,1987-04-29,Central Midfield,Midfield,right,182.0,300000.0,2500000.0,2023-12-31,YMU Group
149,160670,Joe Gyau,2014,16,joe-gyau,United States,1992-09-16,Left Winger,Attack,both,175.0,400000.0,600000.0,2023-12-31,BR Group Management
150,3476,Brad Friedel,2014,148,brad-friedel,United States,1971-05-18,Goalkeeper,Goalkeeper,NaN,NaN,NaN,4000000.0,NaT,NaN
151,504215,Giovanni Reyna,2023,16,giovanni-reyna,England,2002-11-13,Attacking Midfield,Midfield,right,185.0,25000000.0,42000000.0,2025-06-30,Wasserman

In [3]:
games = pd.read_excel("games.xlsx")
games

,game_id,competition_id,season,round,date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,Slavoljub Muslin,Olimp-2,5700.0,Sergey Kuznetsov,NaN,NaN,FK Rostov,FK Krasnodar,02:03:00,domestic_league
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,Lars Sondergaard,Blue Water Arena,5345.0,Michael Svendsen,NaN,NaN,Esbjerg fB,Sonderjyske Fc,01:02:00,domestic_league
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,Lars Sondergaard,Cepheus Park Randers,3481.0,Jakob Kehlet,NaN,NaN,Randers Fodbold Club,Sonderjyske Fc,02:00:00,domestic_league
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,Auri Skarbalius,Ceres Park,7967.0,Kenn Hansen,NaN,NaN,Aarhus Gymnastik Forening,BRA NDBYERNES,00:03:00,domestic_league
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,Troels Bech,Brondby Stadium,10806.0,Lars Christoffersen,NaN,NaN,Brondby IF,Odense Boldklub,00:01:00,domestic_league
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,3296153,NLP,2019,Round of 16,2020-01-22,7,0,NaN,NaN,Erik ten Hag,Eric Meijers,Johan Cruijff ArenA,52017.0,Richard Martens,NaN,NaN,AFC Ajax Amsterdam,NaN,07:00:00,domestic_cup
3264,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,Right to Dream Park,2843.0,Michael Tykgaard,NaN,NaN,Football Club Nords,Hobro IK,03:02:00,domestic_league
3265,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,Marc Brys,Guldensporenstadion,6143.0,Wesley Alen,NaN,NaN,Koninklijke Voetbalclub Kortrijk,Koninklijke Sint-Truidense Voetbalvereniging,03:01:00,domestic_league
3266,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,Mark Hughes,Wembley Stadium,62202.0,Roger East,NaN,NaN,Tottenham Hotspur Football Club,Stoke City,05:01:00,domestic_league
3267,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,Kevin Wilkin,bet365 Stadium,19423.0,Simon Hooper,NaN,NaN,Stoke City,NaN,03:01:00,domestic_cup

In [4]:
game_lineups = pd.read_excel("game_lineups.xlsx")
game_lineups

,game_lineups_id,game_id,type,number,player_id,player_name,team_captain,position
0,f2570d1504fc02f4b6c7608e8dcf89a3,4087925,substitutes,34,242284,Ethan Horvath,0,Goalkeeper
1,f5f0da93ea8e1d8bdd799658e7c8f7cb,4087928,starting_lineup,13,145466,Tim Ream,0,Centre-Back
2,31a4d12ec23d604779d909d26c1b5410,4087929,substitutes,26,578539,Chris Richards,0,Centre-Back
3,776dcbef98651450db76723cb7e3b4df,4087935,substitutes,26,578539,Chris Richards,0,Centre-Back
4,6a35ef7495303f29e7f85dbd54547fb1,4087936,starting_lineup,13,145466,Tim Ream,1,Centre-Back
...,...,...,...,...,...,...,...,...
214,ec3d266094f99ca0a8847de827e37105,4194152,starting_lineup,7,504215,Giovanni Reyna,0,Right Winger
215,667840cda9bdf3b0344b8e99b306cf38,4194152,starting_lineup,23,124732,John Anthony Brooks,0,Centre-Back
216,1c5d2f60ee777760f8a757aa10c42bb1,4194154,starting_lineup,13,103064,Terrence Boyd,0,Centre-Forward
217,99032084fd00ffbfee52c541a9f960ab,4204000,substitutes,14,315762,Luca de la Torre,0,Central Midfield
218,5c9eaf6ebb621d43a0d6fd6a9e607ef9,4220942,substitutes,13,145466,Tim Ream,0,Centre-Back

In [5]:
game_events = pd.read_excel("game_events.xlsx")
game_events

,game_event_id,date,game_id,minute,type,player_id,description,player_in_id,player_assist_id
0,c6a3c088ed8a38d4ce074dd73b20d3da,2012-08-19,2221641,62,Substitutions,1335,", Not reported",45668.0,NaN
1,02d605a5c2dc4f9a6721daa583fa5405,2012-08-26,2222536,54,Cards,1321,"1. Yellow card , Foul",NaN,NaN
2,b56c2e2e087cddb3cfe9e3d340975df9,2012-11-18,2222707,79,Substitutions,104203,", Tactical",25740.0,NaN
3,4a15d1fff4f476f48bb60092c61641d5,2012-11-23,2222721,72,Substitutions,104203,", Tactical",15583.0,NaN
4,daa97877f7edf2fda885b411d7197921,2013-05-17,2222782,63,Goals,104203,", Right-footed shot, 1. Goal of the Season Ass...",NaN,15077.0
...,...,...,...,...,...,...,...,...,...
1844,4acebccbc824e45d51045d8c5e164341,2023-10-31,4194147,3,Goals,355369,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,284010.0
1845,159ad5633cf9d7c3a97b593efb6c3269,2023-10-31,4194147,9,Goals,355369,", Right-footed shot, 2. Tournament Goal Assist...",NaN,629588.0
1846,daa31f19aab26eec375884aef73c73b3,2023-10-31,4194147,65,Substitutions,355369,", Tactical",544148.0,NaN
1847,869a13060604e769290dafe0b1f14483,2023-11-01,4194152,70,Substitutions,504215,", Tactical",406640.0,NaN
1848,6b7ed06f13c1f67f0d7359c310f20ba0,2023-10-31,4194154,76,Substitutions,103064,", Tactical",378874.0,NaN

In [6]:
appearances = pd.read_excel("appearances.xlsx")
appearances

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2224728_119169,2224728,119169,2012-07-13,Aron Johannsson,DK1,0,0,0,0,90
1,2224732_161244,2224732,161244,2012-07-14,Conor O'Brien,DK1,0,0,1,0,90
2,2224729_39467,2224729,39467,2012-07-15,Clarence Goodson,DK1,0,0,0,0,90
3,2232104_119169,2232104,119169,2012-07-19,Aron Johannsson,ELQ,0,0,0,0,74
4,2219794_39475,2219794,39475,2012-07-22,Sacha Kljestan,BESC,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
3563,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,77
3564,3415296_367423,3415296,367423,2020-09-26,Chris Durkin,BE1,1,0,0,0,84
3565,3431983_478940,3431983,478940,2020-09-26,Reggie Cannon,PO1,0,0,0,0,90
3566,3450575_361104,3450575,361104,2020-09-26,Sergino Dest,NL1,0,0,0,0,6
3567,3412904_124732,3412904,124732,2020-09-27,John Anthony Brooks,L1,1,0,0,0,90

### Level 0 analysis : Understanding Data

#### 1. Read the top 5 rows

In [7]:
players.head()

,player_id,name,last_season,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,124732,John Anthony Brooks,2023,533,john-anthony-brooks,Germany,1993-01-28,Centre-Back,Defender,left,194.0,2000000.0,15000000.0,2024-06-30,ROGON
1,223047,Emerson Hyndman,2018,903,emerson-hyndman,United States,1996-04-09,Central Midfield,Midfield,right,170.0,800000.0,1800000.0,NaT,OmniSports
2,307781,Lynden Gooch,2016,289,lynden-gooch,United States,1995-12-24,Right Winger,Attack,right,173.0,1000000.0,1000000.0,2024-06-30,Unique Sports Group
3,370846,Timothy Weah,2023,506,timothy-weah,United States,2000-02-22,Right Midfield,Midfield,right,183.0,14000000.0,15000000.0,2028-06-30,BS Group - BS Law
4,484756,Djordje Mihailovic,2023,1090,djordje-mihailovic,United States,1998-11-10,Attacking Midfield,Midfield,NaN,178.0,5000000.0,6000000.0,2026-06-30,YMU Management Ltd.

In [8]:
games.head()

,game_id,competition_id,season,round,date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,Slavoljub Muslin,Olimp-2,5700.0,Sergey Kuznetsov,NaN,NaN,FK Rostov,FK Krasnodar,02:03:00,domestic_league
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,Lars Sondergaard,Blue Water Arena,5345.0,Michael Svendsen,NaN,NaN,Esbjerg fB,Sonderjyske Fc,01:02:00,domestic_league
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,Lars Sondergaard,Cepheus Park Randers,3481.0,Jakob Kehlet,NaN,NaN,Randers Fodbold Club,Sonderjyske Fc,02:00:00,domestic_league
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,Auri Skarbalius,Ceres Park,7967.0,Kenn Hansen,NaN,NaN,Aarhus Gymnastik Forening,BRA NDBYERNES,00:03:00,domestic_league
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,Troels Bech,Brondby Stadium,10806.0,Lars Christoffersen,NaN,NaN,Brondby IF,Odense Boldklub,00:01:00,domestic_league

In [9]:
game_lineups.head()

,game_lineups_id,game_id,type,number,player_id,player_name,team_captain,position
0,f2570d1504fc02f4b6c7608e8dcf89a3,4087925,substitutes,34,242284,Ethan Horvath,0,Goalkeeper
1,f5f0da93ea8e1d8bdd799658e7c8f7cb,4087928,starting_lineup,13,145466,Tim Ream,0,Centre-Back
2,31a4d12ec23d604779d909d26c1b5410,4087929,substitutes,26,578539,Chris Richards,0,Centre-Back
3,776dcbef98651450db76723cb7e3b4df,4087935,substitutes,26,578539,Chris Richards,0,Centre-Back
4,6a35ef7495303f29e7f85dbd54547fb1,4087936,starting_lineup,13,145466,Tim Ream,1,Centre-Back

In [10]:
game_events.head()

,game_event_id,date,game_id,minute,type,player_id,description,player_in_id,player_assist_id
0,c6a3c088ed8a38d4ce074dd73b20d3da,2012-08-19,2221641,62,Substitutions,1335,", Not reported",45668.0,NaN
1,02d605a5c2dc4f9a6721daa583fa5405,2012-08-26,2222536,54,Cards,1321,"1. Yellow card , Foul",NaN,NaN
2,b56c2e2e087cddb3cfe9e3d340975df9,2012-11-18,2222707,79,Substitutions,104203,", Tactical",25740.0,NaN
3,4a15d1fff4f476f48bb60092c61641d5,2012-11-23,2222721,72,Substitutions,104203,", Tactical",15583.0,NaN
4,daa97877f7edf2fda885b411d7197921,2013-05-17,2222782,63,Goals,104203,", Right-footed shot, 1. Goal of the Season Ass...",NaN,15077.0

In [11]:
appearances.head()

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2224728_119169,2224728,119169,2012-07-13,Aron Johannsson,DK1,0,0,0,0,90
1,2224732_161244,2224732,161244,2012-07-14,Conor O'Brien,DK1,0,0,1,0,90
2,2224729_39467,2224729,39467,2012-07-15,Clarence Goodson,DK1,0,0,0,0,90
3,2232104_119169,2232104,119169,2012-07-19,Aron Johannsson,ELQ,0,0,0,0,74
4,2219794_39475,2219794,39475,2012-07-22,Sacha Kljestan,BESC,0,0,0,0,3

#### 2. Read the bottom 5 rows

In [12]:
players.tail()

,player_id,name,last_season,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
147,273570,Desevio Payne,2020,1283,desevio-payne,United States,1995-11-30,Right-Back,Defender,right,182.0,NaN,400000.0,NaT,NaN
148,111783,Alejandro Bedoya,2015,995,alejandro-bedoya,United States,1987-04-29,Central Midfield,Midfield,right,182.0,300000.0,2500000.0,2023-12-31,YMU Group
149,160670,Joe Gyau,2014,16,joe-gyau,United States,1992-09-16,Left Winger,Attack,both,175.0,400000.0,600000.0,2023-12-31,BR Group Management
150,3476,Brad Friedel,2014,148,brad-friedel,United States,1971-05-18,Goalkeeper,Goalkeeper,NaN,NaN,NaN,4000000.0,NaT,NaN
151,504215,Giovanni Reyna,2023,16,giovanni-reyna,England,2002-11-13,Attacking Midfield,Midfield,right,185.0,25000000.0,42000000.0,2025-06-30,Wasserman

In [13]:
games.tail()

,game_id,competition_id,season,round,date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
3263,3296153,NLP,2019,Round of 16,2020-01-22,7,0,NaN,NaN,Erik ten Hag,Eric Meijers,Johan Cruijff ArenA,52017.0,Richard Martens,NaN,NaN,AFC Ajax Amsterdam,NaN,07:00:00,domestic_cup
3264,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,Right to Dream Park,2843.0,Michael Tykgaard,NaN,NaN,Football Club Nords,Hobro IK,03:02:00,domestic_league
3265,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,Marc Brys,Guldensporenstadion,6143.0,Wesley Alen,NaN,NaN,Koninklijke Voetbalclub Kortrijk,Koninklijke Sint-Truidense Voetbalvereniging,03:01:00,domestic_league
3266,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,Mark Hughes,Wembley Stadium,62202.0,Roger East,NaN,NaN,Tottenham Hotspur Football Club,Stoke City,05:01:00,domestic_league
3267,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,Kevin Wilkin,bet365 Stadium,19423.0,Simon Hooper,NaN,NaN,Stoke City,NaN,03:01:00,domestic_cup

In [14]:
game_lineups.tail()

,game_lineups_id,game_id,type,number,player_id,player_name,team_captain,position
214,ec3d266094f99ca0a8847de827e37105,4194152,starting_lineup,7,504215,Giovanni Reyna,0,Right Winger
215,667840cda9bdf3b0344b8e99b306cf38,4194152,starting_lineup,23,124732,John Anthony Brooks,0,Centre-Back
216,1c5d2f60ee777760f8a757aa10c42bb1,4194154,starting_lineup,13,103064,Terrence Boyd,0,Centre-Forward
217,99032084fd00ffbfee52c541a9f960ab,4204000,substitutes,14,315762,Luca de la Torre,0,Central Midfield
218,5c9eaf6ebb621d43a0d6fd6a9e607ef9,4220942,substitutes,13,145466,Tim Ream,0,Centre-Back

In [15]:
game_events.tail()

,game_event_id,date,game_id,minute,type,player_id,description,player_in_id,player_assist_id
1844,4acebccbc824e45d51045d8c5e164341,2023-10-31,4194147,3,Goals,355369,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,284010.0
1845,159ad5633cf9d7c3a97b593efb6c3269,2023-10-31,4194147,9,Goals,355369,", Right-footed shot, 2. Tournament Goal Assist...",NaN,629588.0
1846,daa31f19aab26eec375884aef73c73b3,2023-10-31,4194147,65,Substitutions,355369,", Tactical",544148.0,NaN
1847,869a13060604e769290dafe0b1f14483,2023-11-01,4194152,70,Substitutions,504215,", Tactical",406640.0,NaN
1848,6b7ed06f13c1f67f0d7359c310f20ba0,2023-10-31,4194154,76,Substitutions,103064,", Tactical",378874.0,NaN

In [16]:
appearances.tail()

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
3563,3415291_537467,3415291,537467,2020-09-26,Joseph Efford,BE1,0,0,1,0,77
3564,3415296_367423,3415296,367423,2020-09-26,Chris Durkin,BE1,1,0,0,0,84
3565,3431983_478940,3431983,478940,2020-09-26,Reggie Cannon,PO1,0,0,0,0,90
3566,3450575_361104,3450575,361104,2020-09-26,Sergino Dest,NL1,0,0,0,0,6
3567,3412904_124732,3412904,124732,2020-09-27,John Anthony Brooks,L1,1,0,0,0,90

#### 3. Check the Shape : Number of rows and columns

In [17]:
players.shape

(152, 15)

In [18]:
games.shape

(3268, 20)

In [19]:
game_lineups.shape

(219, 8)

In [20]:
game_events.shape

(1849, 9)

In [21]:
appearances.shape

(3568, 11)

#### 4. Display the name of the columns

In [22]:
players.columns

Index(['player_id', 'name', 'last_season', 'current_club_id', 'player_code',
       'country_of_birth', 'date_of_birth', 'sub_position', 'position', 'foot',
       'height_in_cm', 'market_value_in_eur', 'highest_market_value_in_eur',
       'contract_expiration_date', 'agent_name'],
      dtype='object')

In [23]:
games.columns

Index(['game_id', 'competition_id', 'season', 'round', 'date',
       'home_club_goals', 'away_club_goals', 'home_club_position',
       'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee',
       'home_club_formation', 'away_club_formation', 'home_club_name',
       'away_club_name', 'aggregate', 'competition_type'],
      dtype='object')

In [24]:
game_lineups.columns

Index(['game_lineups_id', 'game_id', 'type', 'number', 'player_id',
       'player_name', 'team_captain', 'position'],
      dtype='object')

In [25]:
game_events.columns

Index(['game_event_id', 'date', 'game_id', 'minute', 'type', 'player_id',
       'description', 'player_in_id', 'player_assist_id'],
      dtype='object')

In [26]:
appearances.columns

Index(['appearance_id', 'game_id', 'player_id', 'date', 'player_name',
       'competition_id', 'yellow_cards', 'red_cards', 'goals', 'assists',
       'minutes_played'],
      dtype='object')

#### 5. Nature of the Dataset: Display the dataset information

In [27]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    152 non-null    int64
 1   name                         152 non-null    object
 2   last_season                  152 non-null    int64
 3   current_club_id              152 non-null    int64
 4   player_code                  152 non-null    object
 5   country_of_birth             152 non-null    object
 6   date_of_birth                152 non-null    datetime64[ns]
 7   sub_position                 152 non-null    object
 8   position                     152 non-null    object
 9   foot                         141 non-null    object
 10  height_in_cm                 149 non-null    float64
 11  market_value_in_eur          114 non-null    float64
 12  highest_market_value_in_eur  148 non-null    float64
 13  contract_expiration_date     106 non-null    datetime64[ns]
 14  agent_name                   107 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 17.9+ KB

In [28]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 3268 non-null   int64
 1   competition_id          3268 non-null   object
 2   season                  3268 non-null   int64
 3   round                   3268 non-null   object
 4   date                    3268 non-null   datetime64[ns]
 5   home_club_goals         3268 non-null   int64
 6   away_club_goals         3268 non-null   int64
 7   home_club_position      2789 non-null   float64
 8   away_club_position      2789 non-null   float64
 9   home_club_manager_name  3263 non-null   object
 10  away_club_manager_name  3263 non-null   object
 11  stadium                 3268 non-null   object
 12  attendance              3153 non-null   float64
 13  referee                 3266 non-null   object
 14  home_club_formation     0 non-null      float64
 15  away_club_formation     0 non-null      float64
 16  home_club_name          3158 non-null   object
 17  away_club_name          3205 non-null   object
 18  aggregate               3268 non-null   object
 19  competition_type        3268 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(4), object(10)
memory usage: 510.8+ KB

In [29]:
game_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_lineups_id  219 non-null    object
 1   game_id          219 non-null    int64
 2   type             219 non-null    object
 3   number           219 non-null    int64
 4   player_id        219 non-null    int64
 5   player_name      219 non-null    object
 6   team_captain     219 non-null    int64
 7   position         219 non-null    object
dtypes: int64(4), object(4)
memory usage: 13.8+ KB

In [30]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_event_id     1849 non-null   object
 1   date              1849 non-null   datetime64[ns]
 2   game_id           1849 non-null   int64
 3   minute            1849 non-null   int64
 4   type              1849 non-null   object
 5   player_id         1849 non-null   int64
 6   description       916 non-null    object
 7   player_in_id      1155 non-null   float64
 8   player_assist_id  140 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 130.1+ KB

In [31]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3568 entries, 0 to 3567
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   appearance_id   3568 non-null   object
 1   game_id         3568 non-null   int64
 2   player_id       3568 non-null   int64
 3   date            3568 non-null   datetime64[ns]
 4   player_name     3568 non-null   object
 5   competition_id  3568 non-null   object
 6   yellow_cards    3568 non-null   int64
 7   red_cards       3568 non-null   int64
 8   goals           3568 non-null   int64
 9   assists         3568 non-null   int64
 10  minutes_played  3568 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 306.8+ KB

#### 6. Check the null values

In [32]:
players.isnull().sum()

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur            38
highest_market_value_in_eur     4
contract_expiration_date       46
agent_name                     45
dtype: int64

In [33]:
games.isnull().sum()

game_id                      0
competition_id               0
season                       0
round                        0
date                         0
home_club_goals              0
away_club_goals              0
home_club_position         479
away_club_position         479
home_club_manager_name       5
away_club_manager_name       5
stadium                      0
attendance                 115
referee                      2
home_club_formation       3268
away_club_formation       3268
home_club_name             110
away_club_name              63
aggregate                    0
competition_type             0
dtype: int64

In [34]:
game_lineups.isnull().sum()

game_lineups_id    0
game_id            0
type               0
number             0
player_id          0
player_name        0
team_captain       0
position           0
dtype: int64

In [35]:
game_events.isnull().sum()

game_event_id          0
date                   0
game_id                0
minute                 0
type                   0
player_id              0
description          933
player_in_id         694
player_assist_id    1709
dtype: int64

In [36]:
appearances.isnull().sum()

appearance_id     0
game_id           0
player_id         0
date              0
player_name       0
competition_id    0
yellow_cards      0
red_cards         0
goals             0
assists           0
minutes_played    0
dtype: int64

#### Merging the dataset

In [37]:
merged_df = pd.merge(games, game_lineups, on='game_id', how = 'left')
merged_df

,game_id,competition_id,season,round,date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,away_club_name,aggregate,competition_type,game_lineups_id,type,number,player_id,player_name,team_captain,position
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,...,FK Krasnodar,02:03:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,...,Sonderjyske Fc,01:02:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,...,Sonderjyske Fc,02:00:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,...,BRA NDBYERNES,00:03:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,...,Odense Boldklub,00:01:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,3296153,NLP,2019,Round of 16,2020-01-22,7,0,NaN,NaN,Erik ten Hag,...,NaN,07:00:00,domestic_cup,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3264,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,Hobro IK,03:02:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3265,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,...,Koninklijke Sint-Truidense Voetbalvereniging,03:01:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3266,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,...,Stoke City,05:01:00,domestic_league,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3267,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,...,NaN,03:01:00,domestic_cup,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
merged_df = pd.merge(merged_df, game_events, on='game_id', how = 'left')
merged_df

,game_id,competition_id,season,round,date_x,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,team_captain,position,game_event_id,date_y,minute,type_y,player_id_y,description,player_in_id,player_assist_id
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3448,3296153,NLP,2019,Round of 16,2020-01-22,7,0,NaN,NaN,Erik ten Hag,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3449,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,NaN,NaN,237567d50f0a3d2c545dc4776a8321f6,2017-12-10,84.0,Substitutions,542776.0,NaN,148343.0,NaN
3450,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,...,NaN,NaN,d3e7898d2f3e2ee405a0caa5e23ad4fb,2018-10-20,30.0,Substitutions,411302.0,NaN,204347.0,NaN
3451,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3452,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,...,NaN,NaN,ab76dcda1ea48a36f4bc2b990a7dced2,2015-01-04,76.0,Substitutions,31642.0,NaN,34838.0,NaN

In [39]:
merged_df = pd.merge(merged_df, appearances, on='game_id', how = 'left')
merged_df

,game_id,competition_id_x,season,round,date_x,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,appearance_id,player_id,date,player_name_y,competition_id_y,yellow_cards,red_cards,goals,assists,minutes_played
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,...,2222734_104203,104203,2012-12-07,Eugene Starikov,RU1,0,0,0,0,38
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,...,2224572_161244,161244,2012-07-28,Conor O'Brien,DK1,0,0,0,0,90
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,...,2224628_46472,46472,2013-03-08,Charlie Davies,DK1,0,0,0,0,18
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,...,2224655_39467,39467,2013-03-10,Clarence Goodson,DK1,0,0,0,0,90
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,...,2224729_39467,39467,2012-07-15,Clarence Goodson,DK1,0,0,0,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,2875216_381187,381187,2017-12-10,Emmanuel Sabbi,DK1,0,0,0,0,8
3805,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,2875216_542776,542776,2017-12-10,Jonathan Amon,DK1,0,0,0,0,84
3806,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,...,3099247_411302,411302,2018-10-20,Brendan Hines-Ike,BE1,0,0,0,0,30
3807,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,...,2872273_31642,31642,2017-12-09,Geoff Cameron,GB1,0,0,0,0,15
3808,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,...,2517322_31642,31642,2015-01-04,Geoff Cameron,FAC,0,0,0,0,76

In [40]:
final_merged_df = pd.merge(merged_df, players, on='player_id', how = 'left')
final_merged_df

,game_id,competition_id_x,season,round,date_x,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2222734,RU1,2012,19. Matchday,2012-12-07,2,3,11.0,10.0,Miodrag Bozovic,...,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,NaN,500000.0,NaT,Prosport
1,2224572,DK1,2012,3. Matchday,2012-07-28,1,2,12.0,1.0,Jess Thorup,...,United States,1988-10-20,Defensive Midfield,Midfield,right,177.0,NaN,750000.0,NaT,NaN
2,2224628,DK1,2012,22. Matchday,2013-03-08,2,0,3.0,10.0,Colin Todd,...,United States,1986-06-25,Centre-Forward,Attack,right,178.0,NaN,2200000.0,NaT,NaN
3,2224655,DK1,2012,22. Matchday,2013-03-10,0,3,6.0,12.0,Peter Rensen,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,NaN,1850000.0,NaT,NaN
4,2224729,DK1,2012,1. Matchday,2012-07-15,0,1,9.0,5.0,Auri Skarbalius,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,NaN,1850000.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,Italy,1997-12-24,Right Winger,Attack,right,178.0,800000.0,1000000.0,2027-06-30,Avid Sports Group
3805,2875216,DK1,2017,19. Matchday,2017-12-10,3,2,3.0,4.0,Kasper Hjulmand,...,United States,1999-04-30,Left Winger,Attack,right,175.0,300000.0,700000.0,2024-06-30,NaN
3806,3099247,BE1,2018,11. Matchday,2018-10-20,3,1,9.0,7.0,Glen De Boeck,...,United States,1994-11-30,Centre-Back,Defender,right,185.0,800000.0,800000.0,2024-12-31,CAA Stellar
3807,2872273,GB1,2017,16. Matchday,2017-12-09,5,1,6.0,15.0,Mauricio Pochettino,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,NaN,5000000.0,NaT,CMG Sports
3808,2517322,FAC,2014,Third Round,2015-01-04,3,1,NaN,NaN,Mark Hughes,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,NaN,5000000.0,NaT,CMG Sports

####  Check the null values in the merged dataset

In [41]:
final_merged_df.isnull().sum()

game_id                           0
competition_id_x                  0
season                            0
round                             0
date_x                            0
home_club_goals                   0
away_club_goals                   0
home_club_position              550
away_club_position              550
home_club_manager_name            6
away_club_manager_name            6
stadium                           0
attendance                      141
referee                           5
home_club_formation            3809
away_club_formation            3809
home_club_name                  128
away_club_name                   68
aggregate                         0
competition_type                  0
game_lineups_id                3809
type_x                         3809
number                         3809
player_id_x                    3809
player_name_x                  3809
team_captain                   3809
position_x                     3809
game_event_id                  2470
date_y                         2470
minute                         2470
type_y                         2470
player_id_y                    2470
description                    3008
player_in_id                   3067
player_assist_id               3664
appearance_id                     0
player_id                         0
date                              0
player_name_y                     0
competition_id_y                  0
yellow_cards                      0
red_cards                         0
goals                             0
assists                           0
minutes_played                    0
name                              0
last_season                       0
current_club_id                   0
player_code                       0
country_of_birth                  0
date_of_birth                     0
sub_position                      0
position_y                        0
foot                             97
height_in_cm                     58
market_value_in_eur            1296
highest_market_value_in_eur       0
contract_expiration_date       1427
agent_name                     1106
dtype: int64

In [42]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3809 entries, 0 to 3808
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   game_id                      3809 non-null   int64
 1   competition_id_x             3809 non-null   object
 2   season                       3809 non-null   int64
 3   round                        3809 non-null   object
 4   date_x                       3809 non-null   datetime64[ns]
 5   home_club_goals              3809 non-null   int64
 6   away_club_goals              3809 non-null   int64
 7   home_club_position           3259 non-null   float64
 8   away_club_position           3259 non-null   float64
 9   home_club_manager_name       3803 non-null   object
 10  away_club_manager_name       3803 non-null   object
 11  stadium                      3809 non-null   object
 12  attendance                   3668 non-null   float64
 13  referee                      3804 non-null   object
 14  home_club_formation          0 non-null      float64
 15  away_club_formation          0 non-null      float64
 16  home_club_name               3681 non-null   object
 17  away_club_name               3741 non-null   object
 18  aggregate                    3809 non-null   object
 19  competition_type             3809 non-null   object
 20  game_lineups_id              0 non-null      object
 21  type_x                       0 non-null      object
 22  number                       0 non-null      float64
 23  player_id_x                  0 non-null      float64
 24  player_name_x                0 non-null      object
 25  team_captain                 0 non-null      float64
 26  position_x                   0 non-null      object
 27  game_event_id                1339 non-null   object
 28  date_y                       1339 non-null   datetime64[ns]
 29  minute                       1339 non-null   float64
 30  type_y                       1339 non-null   object
 31  player_id_y                  1339 non-null   float64
 32  description                  801 non-null    object
 33  player_in_id                 742 non-null    float64
 34  player_assist_id             145 non-null    float64
 35  appearance_id                3809 non-null   object
 36  player_id                    3809 non-null   int64
 37  date                         3809 non-null   datetime64[ns]
 38  player_name_y                3809 non-null   object
 39  competition_id_y             3809 non-null   object
 40  yellow_cards                 3809 non-null   int64
 41  red_cards                    3809 non-null   int64
 42  goals                        3809 non-null   int64
 43  assists                      3809 non-null   int64
 44  minutes_played               3809 non-null   int64
 45  name                         3809 non-null   object
 46  last_season                  3809 non-null   int64
 47  current_club_id              3809 non-null   int64
 48  player_code                  3809 non-null   object
 49  country_of_birth             3809 non-null   object
 50  date_of_birth                3809 non-null   datetime64[ns]
 51  sub_position                 3809 non-null   object
 52  position_y                   3809 non-null   object
 53  foot                         3712 non-null   object
 54  height_in_cm                 3751 non-null   float64
 55  market_value_in_eur          2513 non-null   float64
 56  highest_market_value_in_eur  3809 non-null   float64
 57  contract_expiration_date     2382 non-null   datetime64[ns]
 58  agent_name                   2703 non-null   object
dtypes: datetime64[ns](5), float64(15), int64(12), object(27)
memory usage: 1.7+ MB

In [43]:
# Drop the repeated and non - relevent columns
final_merged_df = final_merged_df.drop(['competition_id_y', 'type_x', 'player_name_x', 'date_x', 'date_y','home_club_formation',
                                        'player_id_y',  'player_id_x','away_club_formation','position_x',
                                       'game_lineups_id'], axis=1)

In [44]:
final_merged_df

,game_id,competition_id_x,season,round,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2222734,RU1,2012,19. Matchday,2,3,11.0,10.0,Miodrag Bozovic,Slavoljub Muslin,...,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,NaN,500000.0,NaT,Prosport
1,2224572,DK1,2012,3. Matchday,1,2,12.0,1.0,Jess Thorup,Lars Sondergaard,...,United States,1988-10-20,Defensive Midfield,Midfield,right,177.0,NaN,750000.0,NaT,NaN
2,2224628,DK1,2012,22. Matchday,2,0,3.0,10.0,Colin Todd,Lars Sondergaard,...,United States,1986-06-25,Centre-Forward,Attack,right,178.0,NaN,2200000.0,NaT,NaN
3,2224655,DK1,2012,22. Matchday,0,3,6.0,12.0,Peter Rensen,Auri Skarbalius,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,NaN,1850000.0,NaT,NaN
4,2224729,DK1,2012,1. Matchday,0,1,9.0,5.0,Auri Skarbalius,Troels Bech,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,NaN,1850000.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,2875216,DK1,2017,19. Matchday,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,...,Italy,1997-12-24,Right Winger,Attack,right,178.0,800000.0,1000000.0,2027-06-30,Avid Sports Group
3805,2875216,DK1,2017,19. Matchday,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,...,United States,1999-04-30,Left Winger,Attack,right,175.0,300000.0,700000.0,2024-06-30,NaN
3806,3099247,BE1,2018,11. Matchday,3,1,9.0,7.0,Glen De Boeck,Marc Brys,...,United States,1994-11-30,Centre-Back,Defender,right,185.0,800000.0,800000.0,2024-12-31,CAA Stellar
3807,2872273,GB1,2017,16. Matchday,5,1,6.0,15.0,Mauricio Pochettino,Mark Hughes,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,NaN,5000000.0,NaT,CMG Sports
3808,2517322,FAC,2014,Third Round,3,1,NaN,NaN,Mark Hughes,Kevin Wilkin,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,NaN,5000000.0,NaT,CMG Sports

*  Separate the Numerical and Categorical columns

In [45]:
# Define a function that identifies data type of columns 
def cat_num_column(col):
    if data[col].dtype == 'object':
        print("Categorical")
    else:
        print("Numerical")

In [46]:
# Numerical Columns
Numerical = final_merged_df.select_dtypes(exclude = "object")
# Categorical Columns
Categorical = final_merged_df.select_dtypes(include = "object")

In [47]:
# Convert to list
Numerical_list = list(Numerical.columns)
Numerical_list

['game_id',
 'season',
 'home_club_goals',
 'away_club_goals',
 'home_club_position',
 'away_club_position',
 'attendance',
 'number',
 'team_captain',
 'minute',
 'player_in_id',
 'player_assist_id',
 'player_id',
 'date',
 'yellow_cards',
 'red_cards',
 'goals',
 'assists',
 'minutes_played',
 'last_season',
 'current_club_id',
 'date_of_birth',
 'height_in_cm',
 'market_value_in_eur',
 'highest_market_value_in_eur',
 'contract_expiration_date']

In [48]:
Categorical_list = list(Categorical.columns)
Categorical_list

['competition_id_x',
 'round',
 'home_club_manager_name',
 'away_club_manager_name',
 'stadium',
 'referee',
 'home_club_name',
 'away_club_name',
 'aggregate',
 'competition_type',
 'game_event_id',
 'type_y',
 'description',
 'appearance_id',
 'player_name_y',
 'name',
 'player_code',
 'country_of_birth',
 'sub_position',
 'position_y',
 'foot',
 'agent_name']

In [49]:
# Separating out the categorical and numerical column
table = [Numerical_list, Categorical_list]
print(tabulate({"Categorical Column ": Categorical_list,
                "Numerical Column" : Numerical_list}, headers = ["Categorical Column", "Numerical Column"]))

Categorical Column      Numerical Column
----------------------  ---------------------------
competition_id_x        game_id
round                   season
home_club_manager_name  home_club_goals
away_club_manager_name  away_club_goals
stadium                 home_club_position
referee                 away_club_position
home_club_name          attendance
away_club_name          number
aggregate               team_captain
competition_type        minute
game_event_id           player_in_id
type_y                  player_assist_id
description             player_id
appearance_id           date
player_name_y           yellow_cards
name                    red_cards
player_code             goals
country_of_birth        assists
sub_position            minutes_played
position_y              last_season
foot                    current_club_id
agent_name              date_of_birth
                        height_in_cm
                        market_value_in_eur
                        highest_market_value_in_eur
                        contract_expiration_date

## UNIVARIATE ANALYSIS OF CATEGORICAL COLUMNS

In [50]:
# Define a function that will check for the Unique values, Mode and Total count of missing values.
def info_cat(col):
    print("Total unique values: ",final_merged_df[col].nunique())
    print("Mode value in a columns:",final_merged_df[col].mode()[0])
    print("Null Values:",final_merged_df[col].isnull().sum())

### 1. Analysis of 'home_club_manager_name' column

In [51]:
info_cat('home_club_manager_name')

Total unique values:  580
Mode value in a columns: Mark Hughes
Null Values: 6

In [52]:
# Fill the missing values
final_merged_df['home_club_manager_name'].fillna('Mark Hughes', inplace = True)

In [53]:
info_cat('home_club_manager_name')

Total unique values:  580
Mode value in a columns: Mark Hughes
Null Values: 0

### 2. Analysis of 'away_club_manager_name' column

In [54]:
info_cat('away_club_manager_name')

Total unique values:  550
Mode value in a columns: Mark Hughes
Null Values: 6

In [55]:
# Fill the missing values
final_merged_df['away_club_manager_name'].fillna('Mark Hughes', inplace = True)

### 3. Analysis of 'referee' column

In [56]:
info_cat('referee')

Total unique values:  347
Mode value in a columns: Dr. Felix Brych
Null Values: 5

In [57]:
# Fill the missing values
final_merged_df['referee'].fillna('Dr. Felix Brych', inplace = True)

### 4. Analysis of 'home_club_name' column

In [58]:
info_cat('home_club_name')

Total unique values:  253
Mode value in a columns: Borussia Dortmund
Null Values: 128

In [59]:
# Fill the missing values
final_merged_df['home_club_name'].fillna('Borussia Dortmund', inplace = True)

### 5. Analysis of 'away_club_name' column

In [60]:
info_cat('away_club_name')

Total unique values:  255
Mode value in a columns: Borussia Dortmund
Null Values: 68

In [61]:
# Fill the missing values
final_merged_df['away_club_name'].fillna('Borussia Dortmund', inplace = True)

### 6. Analysis of 'game_event_id' column

In [62]:
info_cat('game_event_id')

Total unique values:  1126
Mode value in a columns: 01499694120cbf0fd845a0e5fc1f53c0
Null Values: 2470

In [63]:
# Fill the missing values
final_merged_df['game_event_id'].fillna('01499694120cbf0fd845a0e5fc1f53c0', inplace = True)

### 7. Analysis of 'type_y' column

In [64]:
info_cat('type_y')

Total unique values:  3
Mode value in a columns: Substitutions
Null Values: 2470

In [65]:
# Fill the missing values
final_merged_df['type_y'].fillna('Substitutions', inplace = True)

### 8. Analysis of 'description' column

In [66]:
info_cat('description')

Total unique values:  231
Mode value in a columns: , Tactical
Null Values: 3008

In [67]:
# Fill the missing values
final_merged_df['description'].fillna(', Tactical', inplace = True)

### 9. Analysis of 'foot' column

In [68]:
info_cat('foot')

Total unique values:  3
Mode value in a columns: right
Null Values: 97

In [69]:
# Fill the missing values
final_merged_df['foot'].fillna('right', inplace = True)

### 10. Analysis of 'agent_name' column

In [70]:
info_cat('agent_name')

Total unique values:  38
Mode value in a columns: Wasserman
Null Values: 1106

In [71]:
# Fill the missing values
final_merged_df['agent_name'].fillna('Wasserman', inplace = True)

## UNIVARIATE ANALYSIS OF NUMERICAL COLUMNS

In [72]:
# Define a function that will calculate the mean, median, standard deviation and check for null values.
def info_num(col):
    print("Mean:", final_merged_df[col].mean())
    print("Median:", final_merged_df[col].median())
    print("Std:", final_merged_df[col].std())
    print("Null values: ",final_merged_df[col].isnull().sum())

### 1. Analysis of 'home_club_position' column

In [73]:
info_num('home_club_position')

Mean: 9.279533599263578
Median: 9.0
Std: 5.206135849971468
Null values:  550

In [74]:
# Calculate the mean
mean = int(final_merged_df["home_club_position"].mean())
mean

9

In [75]:
# Fill the missing values
final_merged_df["home_club_position"].fillna(mean, inplace = True)

### 2. Analysis of 'away_club_position' column

In [76]:
info_num('away_club_position')

Mean: 9.579011966861
Median: 10.0
Std: 5.293602136393759
Null values:  550

In [77]:
# Calculate the mean
mean = int(final_merged_df["away_club_position"].mean())
mean

9

In [78]:
# Fill the missing values
final_merged_df["away_club_position"].fillna(mean, inplace = True)

### 3. Analysis of 'attendance' column

In [79]:
info_num('attendance')

Mean: 29677.08451472192
Median: 27095.0
Std: 19768.313476975476
Null values:  141

In [80]:
# Calculate the mean
mean = int(final_merged_df["attendance"].mean())
mean

29677

In [81]:
# Fill the missing values
final_merged_df["attendance"].fillna(mean, inplace = True)

### 4. Analysis of 'minute' column

In [82]:
info_num('minute')

Mean: 62.426437640029874
Median: 68.0
Std: 22.281584024199454
Null values:  2470

In [83]:
# Calculate the mean
mean = int(final_merged_df["minute"].mean())
mean

62

In [84]:
# Fill the missing values
final_merged_df["minute"].fillna(mean, inplace = True)

### 5. Analysis of 'player_in_id' column

In [85]:
info_num('player_in_id')

Mean: 152762.01347708894
Median: 102827.0
Std: 133115.10755253574
Null values:  3067

In [86]:
# Calculate the mean
mean = int(final_merged_df["player_in_id"].mean())
mean

152762

In [87]:
# Fill the missing values
final_merged_df["player_in_id"].fillna(mean, inplace = True)

### 6. Analysis of 'player_assist_id' column

In [88]:
info_num('player_assist_id')

Mean: 53307.31724137931
Median: 39381.0
Std: 38631.87019333608
Null values:  3664

In [89]:
# Calculate the mean
mean = int(final_merged_df["player_assist_id"].mean())
mean

53307

In [90]:
# Fill the missing values
final_merged_df["player_assist_id"].fillna(mean, inplace = True)

### 7. Analysis of 'height_in_cm' column

In [91]:
info_num('height_in_cm')

Mean: 184.16582244734738
Median: 184.0
Std: 6.292574638683271
Null values:  58

In [92]:
# Calculate the mean
mean = int(final_merged_df["height_in_cm"].mean())
mean

184

In [93]:
# Fill the missing values
final_merged_df["height_in_cm"].fillna(mean, inplace = True)

### 8. Analysis of 'market_value_in_eur' column

In [94]:
info_num('market_value_in_eur')

Mean: 4489216.076402706
Median: 800000.0
Std: 7700459.152589261
Null values:  1296

In [95]:
# Calculate the mean
mean = int(final_merged_df["market_value_in_eur"].mean())
mean

4489216

In [96]:
# Fill the missing values
final_merged_df["market_value_in_eur"].fillna(mean, inplace = True)

### 9. Analysis of 'contract_expiration_date' column

In [97]:
info_num('contract_expiration_date')

Mean: 2025-03-31 12:38:41.410579456
Median: 2024-12-31 00:00:00
Std: 432 days 07:45:00.608585328
Null values:  1427

In [98]:
# Calculate the mean
mean = final_merged_df["contract_expiration_date"].mean()
mean

Timestamp('2025-03-31 12:38:41.410579456')

In [99]:
# Fill the missing values
final_merged_df["contract_expiration_date"].fillna(mean, inplace = True)

### 10. Analysis of 'number' column

In [100]:
info_num('number')

Mean: nan
Median: nan
Std: nan
Null values:  3809

In [119]:
# For imputation of this column, I have calculated the mode from the game_lineups tables and imputed the mode value.

In [118]:
game_lineups['number'].mode()[0]

11

In [102]:
# Fill the missing values
final_merged_df["number"].fillna('11', inplace = True)

### 11. Analysis of 'team_captain' column

In [103]:
info_num('team_captain')

Mean: nan
Median: nan
Std: nan
Null values:  3809

In [120]:
# For imputation of this column, I have calculated the mode from the game_lineups tables and imputed the mode value.

In [121]:
game_lineups['team_captain'].mode()[0]

0

In [105]:
# Fill the missing values
final_merged_df["team_captain"].fillna('0', inplace = True)

* Check the dataset after treating the null values

In [106]:
final_merged_df.isnull().sum()

game_id                        0
competition_id_x               0
season                         0
round                          0
home_club_goals                0
away_club_goals                0
home_club_position             0
away_club_position             0
home_club_manager_name         0
away_club_manager_name         0
stadium                        0
attendance                     0
referee                        0
home_club_name                 0
away_club_name                 0
aggregate                      0
competition_type               0
number                         0
team_captain                   0
game_event_id                  0
minute                         0
type_y                         0
description                    0
player_in_id                   0
player_assist_id               0
appearance_id                  0
player_id                      0
date                           0
player_name_y                  0
yellow_cards                   0
red_cards                      0
goals                          0
assists                        0
minutes_played                 0
name                           0
last_season                    0
current_club_id                0
player_code                    0
country_of_birth               0
date_of_birth                  0
sub_position                   0
position_y                     0
foot                           0
height_in_cm                   0
market_value_in_eur            0
highest_market_value_in_eur    0
contract_expiration_date       0
agent_name                     0
dtype: int64

* Rename the dataset

In [107]:
Football_data_merged_cleaned = final_merged_df

In [108]:
Football_data_merged_cleaned

,game_id,competition_id_x,season,round,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,...,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,2222734,RU1,2012,19. Matchday,2,3,11.0,10.0,Miodrag Bozovic,Slavoljub Muslin,...,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,4489216.0,500000.0,2025-03-31 12:38:41.410579456,Prosport
1,2224572,DK1,2012,3. Matchday,1,2,12.0,1.0,Jess Thorup,Lars Sondergaard,...,United States,1988-10-20,Defensive Midfield,Midfield,right,177.0,4489216.0,750000.0,2025-03-31 12:38:41.410579456,Wasserman
2,2224628,DK1,2012,22. Matchday,2,0,3.0,10.0,Colin Todd,Lars Sondergaard,...,United States,1986-06-25,Centre-Forward,Attack,right,178.0,4489216.0,2200000.0,2025-03-31 12:38:41.410579456,Wasserman
3,2224655,DK1,2012,22. Matchday,0,3,6.0,12.0,Peter Rensen,Auri Skarbalius,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,4489216.0,1850000.0,2025-03-31 12:38:41.410579456,Wasserman
4,2224729,DK1,2012,1. Matchday,0,1,9.0,5.0,Auri Skarbalius,Troels Bech,...,United States,1982-05-17,Centre-Back,Defender,right,193.0,4489216.0,1850000.0,2025-03-31 12:38:41.410579456,Wasserman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,2875216,DK1,2017,19. Matchday,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,...,Italy,1997-12-24,Right Winger,Attack,right,178.0,800000.0,1000000.0,2027-06-30 00:00:00.000000000,Avid Sports Group
3805,2875216,DK1,2017,19. Matchday,3,2,3.0,4.0,Kasper Hjulmand,Thomas Thomasberg,...,United States,1999-04-30,Left Winger,Attack,right,175.0,300000.0,700000.0,2024-06-30 00:00:00.000000000,Wasserman
3806,3099247,BE1,2018,11. Matchday,3,1,9.0,7.0,Glen De Boeck,Marc Brys,...,United States,1994-11-30,Centre-Back,Defender,right,185.0,800000.0,800000.0,2024-12-31 00:00:00.000000000,CAA Stellar
3807,2872273,GB1,2017,16. Matchday,5,1,6.0,15.0,Mauricio Pochettino,Mark Hughes,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,4489216.0,5000000.0,2025-03-31 12:38:41.410579456,CMG Sports
3808,2517322,FAC,2014,Third Round,3,1,9.0,9.0,Mark Hughes,Kevin Wilkin,...,United States,1985-07-11,Centre-Back,Defender,right,190.0,4489216.0,5000000.0,2025-03-31 12:38:41.410579456,CMG Sports

* Save the cleaned file

In [109]:
Football_data_merged_cleaned.to_excel('Football_data_merged_cleaned.xlsx', index=False)

* Read the  data from a Pandas Data Frame to a MySQL table

In [110]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\megha\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [111]:
from sqlalchemy import create_engine

In [112]:
# Establish a connection to MySQL database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(host='localhost', db='Football_data_merged_cleaned', user='root', pw='megha24'))

In [113]:
import mysql.connector as sql

In [114]:
db = sql.connect(host='localhost', user='root', password='megha24')

In [115]:
mycursor = db.cursor()
# Execute the SQL query
mycursor.execute('create database Football_data_merged_cleaned')

In [116]:
db = sql.connect(host='localhost', user='root', password='megha24', database = 'Football_data_merged_cleaned')

In [117]:
# Push the DataFrame to MySQL
Football_data_merged_cleaned.to_sql('Football_data_merged_cleaned', engine, index = False)

3809